[submodule "site-lisp/revive-plus"]
	path = site-lisp/revive-plus
	url = https://github.com/martialboniou/revive-plus
[submodule "site-lisp/helm-etags-plus"]
	path = site-lisp/helm-etags-plus
	url = https://github.com/jixiuf/helm-etags-plus
