*.elc

cache/*
!cache/frame/
cache/frame/*
!cache/frame/.gitkeep
!cache/desktop/
cache/desktop/*
!cache/desktop/.gitkeep
!cache/bookmark/
cache/bookmark/*
!cache/bookmark/.gitkeep

packages/
url/
.session
!.gitkeep
bookmarks
